# results folder
results
mat/
figures/

# unused pkgs
pkgs/flow
pkgs/100s_46cell_280.jld2
pkgs/test_code.ipynb
pkgs/Untitled.ipynb
pkgs/rastermap


# temporary files
tmp*
error.mat

# jupyter lab 
.ipynb_checkpoints

# mac
.DS_Store